<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" sizes="16x16"  href="../static/img/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <title>Portfólio</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">

    <section class="profile">
        <img src="../static/img/perfil.jpg" alt="Foto-Programador">
        <h1>José Robson</h1>
        <div class="social-links mt-4 text-center">
        <a target="_blank" href="https://www.linkedin.com/in/jos%C3%A9-robson-52b0bb208/">
            <i class="bi bi-linkedin"></i>
        </a>

        <a target="_blank" href="https://github.com/robinhosz">
            <i class="bi bi-github"></i>
        </a>

        <a target="_blank" href="https://www.instagram.com/robzin12/">
            <i class="bi bi-instagram"></i>
        </a>

        </div>
    </section>

    <nav id="navbar" class="nav-menu">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#inicio"> <i class="bi bi-house"></i> Início </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#sobre"> <i class="bi bi-person-fill"></i> Sobre </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#habilidades"> <i class="bi bi-list-check"></i> Habilidades </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#curriculo"> <i class="bi bi-file-earmark"></i> Currículo </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portfolio"> <i class="bi bi-collection"></i> Portfólio </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contato"> <i class="bi bi-envelope"></i> Contato </a>
              </li>
            
          </ul>


    </nav>

    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            
          <div class="col-md-5 d-flex justify-content-center
          align-items-center flex-column">
              <h2 class="text-white text-shadow">José Robson</h2>
              <span id="subtitle" class="text-white
              text-shadow">Estudante e Desenvolvedor</span>
          </div>

            <div class="col-md-7  d-flex justify-content-end
            align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2"
                    aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
                

            </div>

        </section>

        <section class="container mt-5" id="sobre">

            <div class="row w-100">

                <div class="col-md-12" data-anime="down">
                    <h2 class='pt-3'>Sobre</h2>
                    <p>Sou um aluno apaixonado que está sempre disposto a aprender e trabalhar com tecnologias e domínios. Adoro explorar novas tecnologias e aproveitá-las para resolver problemas da vida real. 
                       Atualmente estou estudando Java e trabalhando em minhas estruturas de dados e algoritmos </p>
                </div>

            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/perfil.jpg" alt="Foto do Robson"
                    width="260" height="150" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Desenvolvedor</h3>
                    <p>Atualmente estou estudando desenvolvimento full-stack, trabalhando principalmente com JavaScript, Java e Python, 
                        utilizando banco de dados MySQL e SQL</p>

                        <div class="row mt-2 mb-1">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Niver: <span class="fw-lighter">14 de Fevereiro de 
                                            2003
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        Idade: <span class="fw-lighter">18 Anos</span>
                                    </li>
                                    <li class="list-group-item">
                                        Cidade: <span class="fw-lighter"> Jaboatão dos Guararapes</span>
                                    </li>
                                    <li class="list-group-item">
                                        Estado: <span class="fw-lighter"> Pernambuco</span>
                                    </li>
                                    
                                  </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Hobby: <span class="fw-lighter"> Basquete</span>
                                    </li>
                                    <li class="list-group-item">
                                        Linguagem favorita: <span class="fw-lighter"> Python</span>
                                    </li>
                                    
                                  </ul>
                            </div>
                        </div>

                        <p>Além de estudar desenvolvimento, eu também compartilho alguns dos meus pequenos projetos que desenvolvo em Java,
                            além de dar algumas dicas de programação da linguagem.
                        </p>
                </div>

            </div>

        </section>

        <section class="mt-5 section-bg" id="habilidades"> 
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo tempo como profissional de tecnologia eu adquiri algumas 
                   habilidades técnicas e não técnicas.
                   A maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada uma delas.
                 </p>

                 <div class="row">

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" 
                            aria-valuenow="75" data-anime="left" aria-valuemin="0" aria-valuemax="100">75%</div>

                          </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 65%;" 
                            aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                          </div>

                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 55%;" 
                            aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                          </div>

                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 60%;" 
                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                          </div>

                        <p class="mt-3 mb-0">Java</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;" 
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                          </div>

                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;" 
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                          </div>
                        <p class="mt-3 mb-0">Deploy</p>
                        <div class="progress mb-3">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 40%;" 
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                          </div>

                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Angular</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 50%;" 
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                          </div>

                          <p class="mt-3 mb-0">Flask</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 55%;" 
                            aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                          </div>

                          <p class="mt-3 mb-0">Django</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 60%;" 
                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                          </div>

                          <p class="mt-3 mb-0">React</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 40%;" 
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                          </div>

                          <p class="mt-3 mb-0">Spring</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 75%;" 
                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                          </div>

                          <p class="mt-3 mb-0">SQL</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 50%;" 
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                          </div>

                          <p class="mt-3 mb-0">MySQL</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 55%;" 
                            aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                          </div>

                    </div>

                 </div>

                 <hr class="w-50 me-auto ms-auto">

                 <div class="row">

                  <div class="col-md-6">
                      <p class="mt-3 mb-0">Montagem e Manutenção de
                        Máquinas
                        </p>
                      <div class="progress">
                          <div class="progress-bar"  data-anime="left" role="progressbar" style="width: 90%;" 
                          aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>

                        <p class="mt-3 mb-0">Redes de Computadores</p>
                      <div class="progress">
                          <div class="progress-bar" data-anime="" role="progressbar" style="width: 85%;" 
                          aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>

                        <p class="mt-3 mb-0">Segurança de Redes</p>
                      <div class="progress">
                          <div class="progress-bar" data-anime="left" role="progressbar" style="width: 60%;" 
                          aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>

                        <p class="mt-3 mb-0">WireShark - Análise de Redes</p>
                      <div class="progress">
                          <div class="progress-bar" data-anime="left" role="progressbar" style="width: 75%;" 
                          aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>

                  </div>

                  <div class="col-md-6">

                      <p class="mt-3 mb-0">Windows Server 2012</p>
                      <div class="progress">
                          <div class="progress-bar" data-anime="left" role="progressbar" style="width: 55%;" 
                          aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>

                        <p class="mt-3 mb-0">Windows Server 2016</p>
                      <div class="progress">
                          <div class="progress-bar"  data-anime="left" role="progressbar" style="width: 50%;" 
                          aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>

                        <p class="mt-3 mb-0">DNS/DHCP/FIREWALL/</p>
                      <div class="progress">
                          <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;" 
                          aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>

                        <p class="mt-3 mb-0">Active Directory</p>
                      <div class="progress">
                          <div class="progress-bar" data-anime="left" role="progressbar" style="width: 65%;" 
                          aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                        </div>
                  </div>

               </div>

               <hr class="w-50 me-auto ms-auto">

                 <div class="row">

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar"  data-anime="left" role="progressbar" style="width: 95%;" 
                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                          </div>

                          <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="" role="progressbar" style="width: 98%;" 
                            aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                          </div>

                          <p class="mt-3 mb-0">Orientação e detalhes</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;" 
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                          </div>

                    </div>

                    <div class="col-md-6">

                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 90%;" 
                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                          </div>

                          <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar"  data-anime="left" role="progressbar" style="width: 85%;" 
                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                          </div>

                          <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 97%;" 
                            aria-valuenow="97" aria-valuemin="0" aria-valuemax="100">97%</div>
                          </div>

                    </div>

                 </div>

            </div>

        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-6 pb-4">Currículo</h2>

                <div class="row">
                
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Ensino Médio</h4>
                            <h5>2019 - 2021</h5>
                            <p><em>EREM Desportista Rubem Rodrigues Moreira</em></p>
                            <p>Ensino médio completo, com participações em eletivas de matemática financeira</p>

                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Técnico em informática</h4>
                            <h5>2020 - 2022</h5>
                            <p><em>Grau Técnico</em></p>
                            <p>Curso voltado a programação de computadores e suporte técnico afim de atender a diversas
                                demandas de uma corporação, contribuindo para o crescimento e aperfeiçoamento dos
                                processos de tecnologia.
                            </p>

                        </div>

                    </div>

                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Desenvolvedor Java freelancer</h4>
                            <h5>2020-2021</h5>
                            <p><em>Ruby Network</em></p>
                            <p>Desenvolvi alguns projetos em java para jogos e discord.
                            </p>

                        </div>


                    </div>

                </div>

            </div>

        </section>

        <section id="portfolio" class="section-bg mt-5">
          <div class="container pb-5 pt-5" data-anime="left">

              <h2 class="pb-4">Portfólio</h2>

              <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                          aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                          aria-label="Slide 2"></button>
                  </div>
                  <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">

                          <div class="row row-cols-1 row-cols-md-3 g-4">
                              <div class="col">
                                  <div class="card">
                                      <img src="../static/img/port6.png" class="card-img-top img-fluid w-100"
                                          alt="Plataforma educacional">
                                      <div class="card-body">
                                          <h5 class="card-title">GO Temakeria</h5>
                                          <p class="card-text">Trabalho acadêmico utilizando HTML, CSS e JavaScript.
                                          </p>
                                          <div class="d-flex justify-content-center">
                                              <a href="https://github.com/robinhosz/temakeria-" target='_blank'
                                                  class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col">
                                  <div class="card">
                                      <img src="../static/img/port2.png" class="card-img-top img-fluid w-100"
                                          alt="print do blog">
                                      <div class="card-body">
                                          <h5 class="card-title">Ata de Presença</h5>
                                          <p class="card-text">Projeto de uma ata de presença em Python utilizando a biblioteca tkinter e utilizando SQLite</p>
                                          <div class="d-flex justify-content-center">
                                              <a href="https://github.com/robinhosz/ataDePresen-a"
                                                  target='_blank' class="btn btn-outline-dark me-3"><i
                                                      class="bi bi-github"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col">
                                  <div class="card">
                                      <img src="../static/img/port5.png" class="card-img-top img-fluid w-100"
                                          alt="print do blog">
                                      <div class="card-body">
                                          <h5 class="card-title">Site Pessoal</h5>
                                          <p class="card-text">Site pessoal construído com Bootstrap e Flask</p>
                                          <div class="d-flex justify-content-center">
                                              <a href="https://portfoliojrsz.herokuapp.com/" target='_blank'
                                                  class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>

                      <div class="carousel-item" data-bs-interval="2000">
                          <div class="row row-cols-1 row-cols-md-3 g-4">
                              <div class="col">
                                  <div class="card h-100">
                                      <img src="../static/img/portflo.png" class="card-img-top img-fluid w-100"
                                          alt="print do blog">
                                      <div class="card-body">
                                          <h5 class="card-title">Pizzaria</h5>
                                          <p class="card-text">Trabalho acadêmico front-end, desenvolvido com HTML, CSS, Bootstrap e JavaScript.</p>
                                          <div class="d-flex justify-content-center">
                                              <a href="https://github.com/robinhosz/pizzaria" target='_blank'
                                                  class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                              <div class="col">
                                  <div class="card h-100">
                                      <img src="../static/img/port10.png" class="card-img-top img-fluid w-100"
                                          alt="print do blog">
                                      <div class="card-body">
                                          <h5 class="card-title">E-Commerce</h5>
                                          <p class="card-text">Projeto web desenvolvido em Python com o framework Django.
                                              </p>
                                          <div class="d-flex justify-content-center">
                                              <a href="https://github.com/robinhosz/ProjetoPython"
                                                  target='_blank' class="btn btn-outline-dark me-3"><i
                                                      class="bi bi-github"></i></a>
                                              
                                          </div>

                                      </div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>

                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>

          </div>
      </section>


        <section class="pt-5 pb-5" id="contato"> 

          <div class="container mb-5">

            <h2 class="pt-3 pb-3">Contato</h2>

            <div class="row"> 
            
              <div class="col-md-5">
                <div class="card p-5 shadow border-0" data-anime="up">
                  <div class="endereco">
                    <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                    <p>Jaboatão dos Guararapes, PE</p>

                  </div>

                  <div class="email">
                    <h4><i class="bi bi-envelope"></i> Email:</h4>
                    <p>joserobsonsiqueira23@hotmail.com</p>
                  </div>

                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.284971053134!2d-34.92919883963653!3d-8.174019624671857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7aae1a28dd7c8c3%3A0x35eb7096f7299b64!2sR.%20Alameda%20das%20Per%C3%B3bas%20-%20Cajueiro%20Seco%2C%20Jaboat%C3%A3o%20dos%20Guararapes%20-%20PE%2C%2054330-065!5e0!3m2!1spt-BR!2sbr!4v1635255558719!5m2!1spt-BR!2sbr" 
                  width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class="w-100"></iframe>

                </div>

              </div>

              <div class="col-md-7 mt-5 mt-md-0">
                <div class="card p-5 h-100 shadow border-0" data-anime="left"> 

                  <form class="row g-3" action="/send" method="POST" >
                    <div class="col-md-6">
                      <label for="nome" class="form-label">Nome:</label>
                      <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
                    </div>
                    <div class="col-md-6">
                      <label for="email" class="form-label">Email:</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu Email" required>
                    </div>
                    <div class="col-12">
                      <label for="mensagem" class="form-label">Mensagem:</label>
                      <textarea type="text" class="form-control" id="mensagem" name="mensagem"
                      placeholder="Digite sua mensagem" rows="10" required></textarea>
                    </div>
                   
                    <div class="col-12 d-flex justify-content-center">
                      <button id="btn-enviar" type="submit" class="btn btn-primary">Enviar mensagem</button>

                      <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Enviando...
                      </button>
                      

                    </div>

                  </form>

                </div>
              </div>

            </div>

          </div>


        </section>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
          <i class="bi bi-check-circle-fill"></i> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </main>

    <footer id="footer">
      <div class="container">

        <div class="text-center">

          &copy; Copyright <strong>José Robson</strong>

        </div>

      </div>

    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>